/* CORRECCIONES DE ESTILOS POR DEFECTO QUE AÑADE WORDPRESS */
ul.post-categories {
    list-style: none;
    padding-left: 0px;
    text-align: right;
    font-weight: var(--weight-medium);
  }

  footer ul {
    text-align: left;
  }
  
  ul li a {
    color: var(--color-red);
  }
  
  bdi {
    color: var(--color-red);
  }

  #product-135 > div.summary.entry-summary > p > span > bdi {
    color: var(--color-red);

  }

  @media screen and (min-width: 1194px) {
    .componente__producto__imagen {
      width: 50%;
    }
    .componente__producto__datos {
      width: 50%;
    }
  }

.h5--align-left {
  font-size: 24px;
  color: var(--color-red);
  font-weight: var(--weight-regular);
  text-align: left;
}

  @media screen and (min-width: 1194px) {
    h1.h1-serif {
      text-align: center;
    }
}

.product-component {
  display: flex;
  flex-direction: column;
}

.btn--add-to-cart,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt {
  font-family: 'Unbounded';
  font-size: 20px;
  font-weight: var(--weight-light);
  color: var(--color-gray);
  background-color: var(--color-red);
  border: 0;   
  padding: 8px;
  width: 100%;
  transition: all 0.1s ease-in-out;
}

@media screen and (min-width: 1194px) {
  .product-component {
    display: flex;
    flex-direction: row;
  }
}

.woocommerce-product-gallery__trigger {
  display: none;
  opacity: 0;
}

.woocomerce-Tabs-panel h2 {
  display: none;
}





